<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Course Card</title>
  <link rel="stylesheet" href="../assets/css/output.css">
</head>

<body class="h-screen bg-gray-100 flex items-center justify-center gap-10">

  <div class="card">
    <img src="/src/img/pemrograman/code-js.jpg" alt="Course JavaScript" class="w-full h-full object-cover">
    <div class="p-5 flex flex-col gap-3">
      <div class="flex items-center gap-2">
        <span class="badge bg-yellow-500">Menengah</span>
        <span class="badge bg-green-500">Web</span>
        <span class="badge">168 jam</span>

      </div>
      <h2 class="course-title" title="Judul Course">
        Belajar JavaScript ES 6
      </h2>
      <div>
        <span class="text-lg font-bold" title="Harga Course">
          Rp 150.000.00
        </span>
        <div class="flex items-center gap-2 mt-2">
          <span class="text-sm line-through opacity-50" title="Harga Sebelum Diskon">Rp 350.000.00</span>
          <span class="discount" title="Diskon">42%</span>
        </div>
      </div>
      <span class="flex item-center mt-1">
        <img src="/src/svg/star.svg" alt="rating-star" width="20">
        <img src="/src/svg/star.svg" alt="rating-star" width="20">
        <img src="/src/svg/star.svg" alt="rating-star" width="20">
        <img src="/src/svg/star.svg" alt="rating-star" width="20">
        <img src="/src/svg/star2.svg" alt="rating-star-not-full" width="20">
        <span class="text-xs ml-2 text-gray-500" title="Jumlah Pendaftar">105k Pengguna Terdaftar</span>
      </span>

      <div class="mt-5 flex gap-2">
        <button class="btn-js">Belajar Sekarang</button>
        <button class="btn-icon-list">
          <img src="/src/svg/love.svg" alt="love-list" width="20" class="love-js">
        </button>
        <button class="btn-icon-list">
          <img src="/src/svg/eye.svg" alt="love-list" width="20" class="love-js">
        </button>
      </div>
    </div>
  </div>

  <div class="card">
    <img src="/src/img/pemrograman/code-php.jpg" alt="Course JavaScript" class="w-full h-full object-cover">
    <div class="p-5 flex flex-col gap-3">
      <div class="flex items-center gap-2">
        <span class="badge bg-purple-500">Dasar</span>
        <span class="badge bg-green-500">Web</span>
        <span class="badge">48 jam</span>

      </div>
      <h2 class="course-title" title="Judul Course">
        Belajar PHP Dasar
      </h2>
      <div>
        <span class="text-lg font-bold" title="Harga Course">
          Rp 150.000.00
        </span>
        <div class="flex items-center gap-2 mt-2">
          <span class="text-sm line-through opacity-50" title="Harga Sebelum Diskon">Rp 350.000.00</span>
          <span class="discount" title="Diskon">42%</span>
        </div>
      </div>
      <span class="flex item-center mt-1">
        <img src="/src/svg/star.svg" alt="rating-star" width="20">
        <img src="/src/svg/star.svg" alt="rating-star" width="20">
        <img src="/src/svg/star.svg" alt="rating-star" width="20">
        <img src="/src/svg/star2.svg" alt="rating-star-not-full" width="20">
        <img src="/src/svg/star-no-fill.svg" alt="rating-no-fill" width="20">
        <span class="text-xs ml-2 text-gray-500" title="Jumlah Pendaftar">80k Pengguna Terdaftar</span>
      </span>

      <div class="mt-5 flex gap-2">
        <button class="btn-php">Belajar Sekarang</button>
        <button class="btn-icon-list">
          <img src="/src/svg/love.svg" alt="love-list" width="20" class="love-php">
        </button>
        <button class="btn-icon-list">
          <img src="/src/svg/eye.svg" alt="love-list" width="20" class="love-php">
        </button>
      </div>
    </div>
  </div>


</body>

</html>